<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
    <!-- Cart item -->
    <tr class="selectable selected">
      <td class="product">
        <div class="media">
          <% if variant.images.length == 0 %>
              <%= link_to small_image(variant.product), variant.product, class: 'media-object pull-left' %>
          <% else %>
              <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product, class: 'media-object pull-left' %>
          <% end %>
          <div class="media-body">
            <%= link_to line_item.name, product_path(variant.product), class: 'heading' %> <br />
            <%= variant.options_text %>
            <%= line_item_description_text(line_item.description) %>
            <% if line_item.insufficient_stock? %>
                <span class="out-of-stock">
                  Нет на складе&nbsp;&nbsp;<br />
                </span>
            <% end %>
            <div class="clearfix"></div>
          </div>
        </div>
      </td>
      <td class="center"><%= line_item.single_money.to_html %></td>
      <td class="center">
        <%= item_form.number_field :quantity, min: 0, class: "form-control input-block-level", style: 'margin: 0;width: 50px;' %>
      </td>
      <td class="center"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></td>
      <td><%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-minus-sign'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %></td>
    </tr>
    <!-- // Cart item END -->
<% end %>
