<%
   @body_id = 'signup'
   @body_class = 'login breakpoint-768'
%>

<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.login.min.css" />
<% end %>

<% content_for :js_scripts_bottom do %>
    <script src="/assets/components/modules/admin/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/admin/forms/elements/uniform/assets/custom/js/uniform.init.js?v=v2.3.0"></script>
<% end %>


<% if @user && @user.errors.any? %>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<% end %>
<% if flash[:registration_error] %>
    <div class="text-center">
        <div class='flash error'><%= flash[:registration_error] %></div>
    </div>
<% end %>

<!-- Wrapper -->
<div id="login">

  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <%= render :partial => 'new_user' %>
      </div>
      <div class="col-md-6">
        <% if Spree::Config[:allow_guest_checkout] %>
            <div class="wrapper">

              <h1 class="glyphicons user"><%= Spree.t(:guest_user_account) %><i></i></h1>

              <!-- Box -->
              <div class="widget widget-heading-simple widget-body-gray">

                <div class="widget-body">
                  <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
                      <label><%= Spree.t(:email) %></label>
                      <%= f.email_field :email, :class => 'input-block-level form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
                      <div class="separator bottom"></div>
                      <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 center">
                          <%= f.submit Spree.t(:continue), :class => 'btn btn-block btn-inverse' %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
              <!-- // Box END -->

            </div>

        <% end %>
      </div>
    </div>

  </div>

</div>

<!-- // Wrapper END -->
<div class="text-center">
  <%= Spree.t(:or) %>
  <%= link_to Spree.t(:login_as_existing), spree.login_path %>
</div>
<br /><br /><br />