<% @body_id = 'product-details' %>

<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.shop_product.min.css" />
<% end %>

<% content_for :js_scripts_bottom do %>
    <script src="/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/admin/gallery/blueimp-gallery/assets/lib/js/blueimp-gallery.min.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/admin/gallery/blueimp-gallery/assets/lib/js/jquery.blueimp-gallery.min.js?v=v2.3.0"></script>
<% end %>

<% cache [I18n.locale, current_currency, @product] do %>
<div class="container-960 innerT">
  <% # render :partial => 'promotions' %>

  <h3 class="margin-none"><%= @product.name %></h3>
  <div class="separator bottom"></div>

  <!-- Product details -->
  <div class="shop-client-products product-details">

    <!-- Row -->
    <div class="row">
      <%
         main_img = render :partial => 'image'
         doc = Nokogiri::HTML( main_img )
         main_url = doc.at_css('img')["src"]
      %>
      <!-- Product Gallery -->
      <div class="col-md-4" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-5" data-delegate="#gallery-5">
        <a class="thumb" href="<%= main_url %>" data-gallery="gallery"><%= render :partial => 'image' %></a>
        <div class="separator bottom"></div>
        <p class="separator text-center"><i class="fa fa-camera fa-3x"></i></p>
        <div class="separator bottom"></div>
        <div class="gallery">
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>
      <!-- // Product Gallery END -->

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-7">
            <!-- Product description -->
            <div class="widget widget-heading-simple widget-body-gray">
              <div class="widget-head"><h4 class="heading glyphicons notes strong"><i></i>Описание</h4></div>
              <div class="widget-body">
                <%= strip_tags(product_description(@product)).truncate(500, separator: '.').html_safe rescue Spree.t(:product_has_no_description) %>
              </div>
            </div>
            <%= render :partial => 'taxons' %>
            <!-- // Product description END -->
            <!--<div class="widget widget-heading-simple widget-body-default">
              <div class="widget-head"><h4 class="heading glyphicons warning_sign strong"><i></i>Important note</h4></div>
              <div class="widget-body"><p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi erat massa, ultricies sit amet.</p></div>
            </div>-->
          </div>
          <%= render :partial => 'cart_form' %>
        </div>

        <p class="separator text-center"><i class="icon-truck icon-3x"></i></p>
        <div class="separator bottom"></div>

        <!-- Product reviews & delivery -->
        <div class="widget widget-tabs widget-quick">

          <!-- Widget heading -->
          <div class="widget-head">
            <ul>
              <li class="active"><a href="#reviewsTab" data-toggle="tab" class="glyphicons star"><i></i>Характеристики</a></li>
              <li><a href="#deliveryTab" data-toggle="tab" class="glyphicons car"><i></i>Полное описание</a></li>
            </ul>
          </div>
          <!-- // Widget heading END -->

          <div class="widget-body">
            <div class="tab-content">

              <!-- Delivery Tab -->
              <div class="tab-pane" id="deliveryTab">
                <p><%= product_description(@product) rescue Spree.t(:product_has_no_description) %></p>
              </div>
              <!-- // Delivery Tab END -->

              <!-- Reviews Tab -->
              <div class="tab-pane active" id="reviewsTab">
                <%= render :partial => 'properties' %>
              </div>
              <!-- // Reviews Tab END -->

            </div>
          </div>
        </div>
        <!-- // Product reviews & delivery END -->
      </div>
      <!-- // Row END -->

    </div>
    <div class="separator bottom"></div>
    <!-- // Product details END -->

  </div>


  <!-- Blueimp Gallery -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev no-ajaxify">‹</a>
    <a class="next no-ajaxify">›</a>
    <a class="close no-ajaxify">×</a>
    <a class="play-pause no-ajaxify"></a>
    <ol class="indicator"></ol>
  </div>
  <!-- // Blueimp Gallery END -->
<% end %>