<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.shop.min.css" />
<% end %>

<% content_for :js_scripts_bottom do %>
    <script src="/assets/components/modules/admin/gallery/gridalicious/assets/lib/jquery.gridalicious.min.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/admin/gallery/gridalicious/assets/custom/gridalicious.init.js?v=v2.3.0"></script>
<% end %>

<h1 class="taxon-title"><%= @taxon.name %></h1>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<% end %>

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>
