<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.about.min.css" />
<% end %>

<% content_for :js_scripts_bottom do %>
    <script src="/assets/components/modules/admin/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/admin/forms/elements/uniform/assets/custom/js/uniform.init.js?v=v2.3.0"></script>
<% end %>

<div class="container-960">
  <div class="separator bottom"></div>

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Spree.t(:editing_user) %></h3>
    </div>
    <div class="panel-body">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
      
      <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <p>
          <%= f.submit Spree.t(:update), :class => 'btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>

</div>