<% content_for :css_styles do %>
    <link rel="stylesheet" href="/assets/css/front/module.front.page.index_slider_fullwidth.min.css" />
<% end %>

<% content_for :js_scripts_bottom do %>
    <script src="/assets/components/modules/front/assets/lib/revolution-slider/js/jquery.themepunch.revolution.min.js?v=v2.3.0"></script>
    <script src="/assets/components/modules/front/assets/custom/js/front_index_revolutionslider.js?v=v2.3.0"></script>
<% end %>

<div id="landing_2">
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
      <ul>

        <!-- THE FOURTH SLIDE -->
        <li data-transition="3dcurtain-vertical" data-slotamount="1" data-masterspeed="500" class="slide-1">

          <img src="/assets/images/front/slides/bg-bricks.jpg"/>

          <div class="caption large_text sft"
               data-x="30"
               data-y="54"
               data-speed="300"
               data-start="800"
               data-easing="easeOutExpo">СТИЛЬНО</div>

          <div class="caption medium_text sfl"
               data-x="88"
               data-y="92"
               data-speed="300"
               data-start="1100"
               data-easing="easeOutExpo">И</div>

          <div class="caption large_text sfr"
               data-x="108"
               data-y="88"
               data-speed="300"
               data-start="1100"
               data-easing="easeOutExpo"><span class="text-primary">ЭКОНОМНО</span></div>

          <div class="tp-caption text_white sfr"
               data-x="30"
               data-y="157"
               data-speed="600"
               data-start="2300"
               data-easing="easeOutExpo">
            <p>Светодиодные лампы или светодиодные светильники в качестве источника<br/>
              света используют светодиоды, применяются для бытового, промышленного<br/>
              и уличного освещения. Светодиодная лампа является одним из самых<br/>
              экологически чистых источников света. Принцип свечения светодиодов<br/>
              позволяет применять в производстве и работе самой лампы безопасные компоненты.
              </p>
            <p>Светодиодные лампы не используют веществ, содержащих ртуть,<br/>
              поэтому они не представляют опасности в случае выхода из строя или разрушения.
              </p>
          </div>

          <div class="caption lfl"
               data-x="606"
               data-y="0"
               data-speed="300"
               data-start="1400"
               data-easing="easeOutExpo"><img src="/assets/images/front/slides/slide-1-desktop.png" alt="Image 4"></div>

          <div class="caption lfb"
               data-x="554"
               data-y="181"
               data-speed="1000"
               data-start="1500"
               data-easing="easeOutExpo"><img src="/assets/images/front/slides/slide-1-tablet.png" alt="Image 5"></div>

          <div class="caption lfl"
               data-x="522"
               data-y="285"
               data-speed="1000"
               data-start="1600"
               data-easing="easeOutExpo"><img src="/assets/images/front/slides/slide-1-phone.png" alt="Image 6"></div>
        </li>

        <!-- THE THIRD SLIDE -->
        <li data-transition="flyin" data-slotamount="10" data-masterspeed="300">
          <%
          coords = [
            {hoffset: 48, y: 131, speed: 600, start: 1100},
            {hoffset: 90, y: 206, speed: 600, start: 1200},
            {hoffset: 205, y: 140, speed: 600, start: 1300},
            {hoffset: 188, y: 226, speed: 300, start: 1400},
            {hoffset: -55, y: 256, speed: 600, start: 1500},
            {hoffset: -153, y: 229, speed: 300, start: 1600},
            {hoffset: 255, y: 224, speed: 300, start: 1700},
            {hoffset: 275, y: 166, speed: 600, start: 1800},
            {hoffset: -173, y: 129, speed: 300, start: 1600},
            {hoffset: -255, y: 244, speed: 300, start: 1700},
            {hoffset: -275, y: 166, speed: 300, start: 1800},
            {hoffset: -55, y: 126, speed: 600, start: 1500},
            {hoffset: 84, y: 113, speed: 300, start: 1900},
            {hoffset: 26, y: 225, speed: 300, start: 2000},
            {hoffset: 110, y: 187, speed: 300, start: 2100},
            {hoffset: 130, y: 247, speed: 300, start: 2100},
            {hoffset: -70, y: 200, speed: 300, start: 2200},
          ]
             slide_th = 0
          %>

          <img src="/assets/images/front/slides/bg-bricks.jpg"/>

          <div class="caption large_text sfb"
               data-x="center"
               data-y="47"
               data-speed="300"
               data-start="800"
               data-easing="easeOutExpo">БОЛЕЕ <span class="text-primary"><%= roundup(Spree::Product.all.size) %></span> РАЗЛИЧНЫХ НАИМЕНОВАНИЙ</div>

          <% Spree::Product.all.limit(coords.size).each do |p| %>
                  <div class="caption randomrotate"
                       data-x="center"
                       data-hoffset="<%= coords[slide_th][:hoffset] %>"
                       data-y="<%= coords[slide_th][:y] %>"
                       data-speed="<%= coords[slide_th][:speed] %>"
                       data-start="<%= coords[slide_th][:start] %>"
                       data-easing="easeOutExpo"><a href="<%= spree.product_url(p) %>"><img src="<%= p.images.first.attachment.url(:small) %>" style="width: 100px;" class="thumb containerBg" alt="<%= p.name %>"></a></div>
                <% slide_th += 1 %>
            <% end %>
        </li>

        <!-- THE SECOND SLIDE -->
        <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400">

          <img src="/assets/images/front/slides/bg-bricks.jpg"/>

          <div class="caption large_text lfl stl"
               data-x="30"
               data-y="303"
               data-speed="300"
               data-start="500"
               data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" ><span class="text-primary">LED</span> SHOP</div>

          <div class="caption big_white lfl stl"
               data-x="30"
               data-y="343"
               data-speed="300"
               data-start="800"
               data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine" >ПОСЛЕДНИЕ ПОСТУПЛЕНИЯ В МАГАЗИН</div>

          <% slide_th = 0 %>
          <% Spree::Product.all.order(created_at: :desc).limit(3).each do |p| %>
              <div class="caption lft ltb"
                   data-x="600"
                   data-y="center"
                   data-speed="600"
                   data-start="<%= (1100+2500*slide_th).to_s %>"
                   data-easing="easeOutExpo" data-end="<%= (3100+2500*slide_th).to_s %>" data-endspeed="600" data-endeasing="easeInSine" >
                <a href="<%= spree.product_url(p) %>"><img src="<%= p.images.first.attachment.url(:large) %>" style="width: 500px;" class="thumb containerBg" alt="<%= p.name %>"></a>
              </div>

              <div class="caption big_white sft stb"
                   data-x="820"
                   data-y="300"
                   data-speed="300"
                   data-start="<%= (1400+2500*slide_th).to_s %>"
                   data-easing="easeOutExpo" data-end="<%= (3300+2500*slide_th).to_s %>" data-endspeed="300" data-endeasing="easeInSine" ><%= p.name.truncate(20) %></div>

              <div class="caption big_black sfb stb"
                   data-x="820"
                   data-y="330"
                   data-speed="300"
                   data-start="<%= (1700+2500*slide_th).to_s %>"
                   data-easing="easeOutExpo" data-end="<%= (3200+2500*slide_th).to_s %>" data-endspeed="300" data-endeasing="easeInSine" ><%= display_price(p) %></div>
              <% slide_th += 1 %>
          <% end %>
        </li>

        <!-- THE THIRD SLIDE -->
        <!--<li data-transition="fade" data-slotamount="1" data-masterspeed="300">

          <img src="/assets/images/front/slides/bg-bricks.jpg"/>

          <div class="caption fade fullscreenvideo" data-autoplay="false" data-x="0" data-y="0" data-speed="500" data-start="10" data-easing="easeOutBack"><iframe src="http://player.vimeo.com/video/22775048?title=0&amp;byline=0&amp;portrait=0;api=1" width="100%" height="100%"></iframe></div>
          <div class="caption big_white sft stt"
               data-x="center"
               data-y="25"
               data-speed="300"
               data-start="500"
               data-easing="easeOutExpo" data-end="4000" data-endspeed="300" data-endeasing="easeInSine" >Have Fun Watching the Video</div>
        </li>-->

      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
  <div class="mosaic-line mosaic-line-2">
    <div class="container-960 center">
      <h2 class="margin-none"><strong class="text-primary">Современное</strong> Освещение <span class="hidden-phone">Для дома и бизнеса</span></h2>
    </div>
  </div>
  <div class="container">
    <div class="innerT">
      <!--<div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body"><p class="margin-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. of.type and scrambled it to</p></div>
      </div>-->

      <%= render_snippet('/main_page') %>

      <!--<div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body center">
          <p class="lead">Follow us on:</p>
          <div class="social-large social-large-2 center">
            <a href="" class="active glyphicons-social facebook"><i></i>facebook</a>
            <a href="" class="glyphicons-social google_plus"><i></i>google+</a>
            <a href="" class="glyphicons-social twitter"><i></i>twitter</a>
            <a href="" class="glyphicons-social forrst"><i></i>forrst</a>
            <a href="" class="glyphicons-social skype"><i></i>skype</a>
          </div>
        </div>
      </div>-->

      <!--<h3 class="glyphicons chat"><i></i>Testimonials</h3>
      <div class="separator bottom"></div>

      <div class="row">
        <div class="col-md-6">
          <div class="widget widget-heading-simple widget-body-white">
            <div class="widget-body">
              <div class="glyphicons glyphicon-large user">
                <i></i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an</p>
                <p class="margin-none strong">by <a href="">john doe</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget widget-heading-simple widget-body-white">
            <div class="widget-body">
              <div class="glyphicons glyphicon-large woman">
                <i></i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an</p>
                <p class="margin-none strong">by <a href="">jane doe</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body">
          <div class="row">
            <div class="col-md-8 center">
              <h2 class="margin-none">Give your ADMIN a new look <strong class="text-primary">Today</strong></h2>
              <p class="margin-none">Unlimited Colors | 420+ Icons Included | Fully Responsive | Duzines of Pages</p>
            </div>
            <div class="col-md-4">
              <a href="" class="btn btn-icon-stacked btn-primary btn-block glyphicons usd"><i></i><span>Buy it now!</span><span class="strong">on ThemeForest.net</span></a>
            </div>
          </div>
        </div>
      </div>-->

    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

