<div id="footer" class="hidden-print">

  <div class="container-960 innerTB">
    <div class="row">
      <div class="col-md-2">
        <h4>Перейти</h4>
        <ul>
          <li><a href="<%= root_path %>">Главная</a></li>
          <li><a href="<%= main_app.about_path %>">О нас</a></li>
          <li><a href="<%= main_app.delivery_path %>">Доставка</a></li>
          <li><a href="<%= main_app.news_path %>">Новости</a></li>
          <li><a href="<%= contact_us_path %>">Контакты</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>О нас</h4>
        <div class="box-generic">
          LED SHOP  – украинский интернет магазин, который специализируется на инновационных технологиях в сфере светотехники.
        </div>
      </div>
      <div class="col-md-3">
        <h4>Новости</h4>
        <ul>
          <li><a href="blog.html?lang=en">What is Lorem Ipsum?</a></li>
          <li><a href="blog.html?lang=en">What is Lorem Ipsum?</a></li>
          <li><a href="blog.html?lang=en">What is Lorem Ipsum?</a></li>
          <li><a href="blog.html?lang=en">What is Lorem Ipsum?</a></li>
          <li><a href="blog.html?lang=en">What is Lorem Ipsum?</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Контакты</h4>
        <ul class="icons">
          <li class="glyphicons phone"><i></i>+3 8 050 30 20 140</li>
          <li class="glyphicons envelope"><i></i>support@ledshop.com.ua</li>
        </ul>

        <h4>Социальные сети</h4>
        <a href="" class="glyphicons-social standard primary facebook"><i></i></a>
        <a href="" class="glyphicons-social standard twitter"><i></i></a>
        <a href="" class="glyphicons-social standard linked_in"><i></i></a>
        <a href="" class="glyphicons-social standard google_plus"><i></i></a>
        <a href="" class="glyphicons-social standard vimeo"><i></i></a>
      </div>
    </div>

    <!--  Copyright Line -->
    <div class="copy">
      &copy; 2015 - <a href="http://ledshop.com.ua">ledshop.com.ua</a>
      <span class="appbrand">LED SHOP</span>
    </div>
    <!--  End Copyright Line -->

  </div>

</div>
<!-- // Footer END -->