<!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
<div class="navbar main hidden-print">

  <div class="secondary">
    <div class="container-960">

      <!-- Menu Toggle Button -->
      <button type="button" class="btn btn-navbar visible-phone pull-right">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- // Menu Toggle Button END -->

      <%= render 'spree/shared/search' %>
      <ul class="topnav pull-left">
        <li>
          <a href="#" class="glyphicons search single-icon" onclick="$('#topnav-search-form').submit();return false;"><i></i></a>
        </li>
      </ul>

      <ul class="topnav pull-right">

        <!--<li class="hidden-phone follow">
          <span>Follow us</span>
          <a href="" class="fa fa-facebook"></a>
          <a href="" class="fa fa-twitter"></a>
          <a href="" class="fa fa-youtube"></a>
          <a href="" class="fa fa-google-plus"></a>
        </li>-->
        <%= render partial: 'spree/shared/login_bar' %>
      </ul>
      <div class="clearfix"></div>

    </div>
  </div>

  <div class="container-960">

    <!-- Brand -->
    <a href="<%= main_app.root_path %>" class="appbrand pull-left"><span class="text-primary">LED</span> SHOP</a>

    <ul class="topnav pull-right">

      <li class="dropdown dd-1 <%= 'active' if current_controller?('spree/taxons') || current_controller?('spree/products') %>">
        <a href="" data-toggle="dropdown">Продукция <span class="caret"></span></a>
        <ul class="dropdown-menu pull-left category-dropdown">
          <% Spree::Taxonomy.all.each do |taxonomy| %>
              <% taxonomy.taxons.each do |taxon| %>
                <li class="<%= 'active' if current_taxon?(taxon.permalink) %>"><%= link_to taxon.name, seo_url(taxon) %></li>
              <% end %>
          <% end %>
        </ul>
      </li>
      <li class="<%= 'active' if current_controller?('index') && current_action?('about') %>"><a href="<%= main_app.about_path %>">О нас</a></li>
      <li class="<%= 'active' if current_controller?('news') %>"><a href="<%= main_app.news_path %>">Новости</a></li>
      <li class="<%= 'active' if current_controller?('index') && current_action?('delivery') %>"><a href="<%= main_app.delivery_path %>">Доставка</a></li>
      <li class="<%= 'active' if current_controller?('index') && current_action?('contacts') %>"><a href="<%= main_app.contacts_path %>">Контакты</a></li>
      <li class="glyphicons cart_in cart-color <%= 'active' if current_controller?('spree/orders', 'spree/checkout') %>" id="cart-li">
        <%= link_to '<i></i> '.html_safe, '/cart' %>
      </li>

    </ul>
    <div class="clearfix"></div>
    <!-- // Top Menu Right END -->

  </div>

</div>
<!-- Top navbar END -->